.button {
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100%;
}

p {
  margin-top: -6px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: -2px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
img {
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
}
.marga {
  margin-top: 7px;
  margin-bottom: -15px;
}
